{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<h1>Главная страница</h1>

<footer>
    <div class="row section-3 text-white">
      <div class="col-md-4 pt-3 pb-3 bg-black part1">
        <h3 class="text-white"><strong>Заголовок 1</strong></h3>
      </div>
      <div class="col-md-4 pt-3 pb-3 bg-black part1">
        <h3 class="text-white"><strong>Заголовок 2</strong></h3>
      </div>
      <div class="col-md-4 pt-3 pb-3 bg-black part1">
        <h3 class="text-white"><strong>Заголовок 3</strong></h3>
      </div>
    </div>
  
    <div class="row section-3 text-white", style="overflow-wrap: break-word">
      <div class="col-md-4 pt-3 pb-3 bg-black part1">
        <p>akfifnvlsjdf,jhlvhsd,tknhsvdnjfalinaekrhfvfauiaervnhfiuierhn,fuhsdfush,gvnsdurghvsnkghsurgnhvs,djvgerkgvungiuhi</p>
      </div>
      <div class="col-md-4 pt-3 pb-3 bg-black part1">
        <p>akfifnvlsjdf,jhlvhsd,tknhsvdnjfalinaekrhfvfauiaervnhfiuierhn,fuhsdfush,gvnsdurghvsnkghsurgnhvs,djvgerkgvungiuhi</p>
      </div>
      <div class="col-md-4 pt-3 pb-3 bg-black part1">
        <p>akfifnvlsjdf,jhlvhsd,tknhsvdnjfalinaekrhfvfauiaervnhfiuierhn,fuhsdfush,gvnsdurghvsnkghsurgnhvs,djvgerkgvungiuhi</p>
      </div>
    </div>
  </footer>
{% endblock %}