{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<section class="maincontent">
  <h1>Главная страница</h1>
  <article class="articles">
    <div class="divblock">
      <h2 class="Titels">История создания</h2>
      <p class="maintext">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat debitis laboriosam, neque aspernatur blanditiis vel. Porro molestiae hic odit! Ipsam sint alias corporis maxime veritatis, 
        eaque fugiat nesciunt magnam? Quis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Consequatur commodi saepe earum dolorum odit nemo voluptate. Fugit quibusdam, hic doloribus rem reprehenderit vel eius totam, rerum obcaecati a, quam incidunt? 
      </p>
  </div>
  </article>

  <article class="articles">
    <div class="divblock">
      <h2 class="Titels">Наши сотрудники</h2>
      <p class="maintext">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat debitis laboriosam, neque aspernatur blanditiis vel. Porro molestiae hic odit! Ipsam sint alias corporis maxime veritatis, 
        eaque fugiat nesciunt magnam? Quis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Consequatur commodi saepe earum dolorum odit nemo voluptate. Fugit quibusdam, hic doloribus rem reprehenderit vel eius totam, rerum obcaecati a, quam incidunt? 
      </p>
    </div>
  </article>

</section>

<footer>
    <div class="row section-3 text-white">
      <div class="col-md-4 pt-3 pb-3 bg-black part1">
        <h3 class="text-white"><strong>Заголовок 1</strong></h3>
      </div>
      <div class="col-md-4 pt-3 pb-3 bg-black part1">
        <h3 class="text-white"><strong>Заголовок 2</strong></h3>
      </div>
      <div class="col-md-4 pt-3 pb-3 bg-black part1">
        <h3 class="text-white"><strong>Заголовок 3</strong></h3>
      </div>
    </div>
  
    <div class="row section-3 text-white", style="overflow-wrap: break-word">
      <div class="col-md-4 pt-3 pb-3 bg-black part1">
        <p>akfifnvlsjdf,jhlvhsd,tknhsvdnjfalinaekrhfvfauiaervnhfiuierhn,fuhsdfush,gvnsdurghvsnkghsurgnhvs,djvgerkgvungiuhi</p>
      </div>
      <div class="col-md-4 pt-3 pb-3 bg-black part1">
        <p>akfifnvlsjdf,jhlvhsd,tknhsvdnjfalinaekrhfvfauiaervnhfiuierhn,fuhsdfush,gvnsdurghvsnkghsurgnhvs,djvgerkgvungiuhi</p>
      </div>
      <div class="col-md-4 pt-3 pb-3 bg-black part1">
        <p>akfifnvlsjdf,jhlvhsd,tknhsvdnjfalinaekrhfvfauiaervnhfiuierhn,fuhsdfush,gvnsdurghvsnkghsurgnhvs,djvgerkgvungiuhi</p>
      </div>
    </div>
  </footer>
{% endblock %}