{% extends "base.html" %}

{% block title %}
Списки пропавших
{% endblock %}

{% block content %}
<h1>Списки пропавших</h1>

<div class = "cardsection">
{% for post in posts %}
<div class="card">
    <div class="row g-0">
        <div class="col">
            <img class="spisokimg" src="data:image/jpeg;base64,{{ post.Photo }}" class="img-fluid rounded-start" alt="...">
        </div>
            <div class="card-body">
                <h5 class="card-title">{{post.Name}} {{post.Surname}} {{post.Patronymic}}</h5>
                <p class="card-text">{{post.Description}}</p>
                <p class="card-text"><small class="text-muted">Дата рождения: {{ '%02d.%02d.%04d' | format(post.DataOfBirth.day, post.DataOfBirth.month, post.DataOfBirth.year) }}</small></p>
                <p class="card-text"><small class="text-muted">Дата последнего появления: {{ '%02d.%02d.%04d' | format(post.DataOfLastAppearance.day, post.DataOfLastAppearance.month, post.DataOfLastAppearance.year) }}</small></p>
                <p class="card-text"><small class="text-muted">Место последнего появления: {{post.PlaceOfLastAppearance}}</small></p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>

<div>
    <p>Ha-ha-ha</p>
</div>
{% endblock %}